<ul class="space">
  <li>RENE P., 2000, Etat des lieux des glaciers des Pyr&eacute;n&eacute;es fran&ccedil;aises - Compte rendu de la campagne de terrain (septembre 1999), R&eacute;union de la Soci&eacute;t&eacute; Hydrotechnique de France section Glaciologie - Nivologie, 7p.</li>
  <li>AMELOT F., RENE P., 2001, Donn&eacute;es techniques sur les glaciers p&eacute;ruviens, Tourn&eacute;e IGS-SAO au P&eacute;rou (Cordill&egrave;re Blanche), 5p.</li>
  <li>RENE P., 2001, Les glaciers des Pyr&eacute;n&eacute;es fran&ccedil;aises : campagne d'observations de septembre 2000, R&eacute;union de la Soci&eacute;t&eacute; Hydrotechnique de France section Glaciologie - Nivologie, 16p.</li>
  <li>RENE P., 2001, Constitution d&#8217;une base de donn&eacute;es actualis&eacute;es sur les glaciers des Pyr&eacute;n&eacute;es centrales fran&ccedil;aises, La Montagne et Alpinisme 3, p9-10.</li>
  <li>RENE P., 2001, Actualisation des observations sur les glaciers des Pyr&eacute;n&eacute;es centrales fran&ccedil;aises, Empreintes n&deg;10, Journal du Parc National des Pyr&eacute;n&eacute;es, p69-70.</li>
  <li>RENE P., 2002, Activit&eacute;s glaciologiques dans les Pyr&eacute;n&eacute;es fran&ccedil;aises en 2001, R&eacute;union de la Soci&eacute;t&eacute; Hydrotechnique de France section Glaciologie - Nivologie, 8p.</li>
  <li>RENE P., 2002, Pour les glaciers &quot;blancs&quot; et les autres, une mise au point s'impose dans les Pyr&eacute;n&eacute;es..., Les feuilles du pin &agrave; crochets n&deg;3, Editions du Pin &agrave; Crochets, p9-15.</li>
  <li>RENE P., 2002, L'incroyable glacier des Oulettes de Gaube, Revue Pyr&eacute;n&eacute;es n&deg;209, p43-49.</li>
  <li>RENE P., 2002, Un glacier suspendu au Mont Perdu, Revue Pyr&eacute;n&eacute;es n&deg;210, p195-200.</li>
  <li>RENE P., 2002, L'eau des glaciers pyr&eacute;n&eacute;ens, Revue de l'Agence de l'Eau Adour Garonne n&deg;85, p7-12.</li>
  <li>RENE P., 2002, Les glaciers du Luchonnais, Revue de Comminges, tome CXVIII, p485-494.</li>
  <li>RENE P., 2003, Les glaciers des Pyr&eacute;n&eacute;es fran&ccedil;aises, Boletin Glaciologico Aragon&eacute;s n&deg;4, P31-68.</li>
  <li>CHUECA J., JULIAN A., RENE P., 2004, Estado de los glaciaires en la cordillera pirenaica (vertientes espa&ntilde;ola y francesa) a finales del siglo XX, Contribuciones Recientes sobre Geomorfologia, VIII Reunion Nacional de Geomorfologia (Vol. I), Sociedad Espa&ntilde;ola de Geomorfologia, p91-102.</li>
  <li>RENE P., 2004, Variations glaciaires et changements climatiques dans les Pyr&eacute;n&eacute;es, Terre d'Oc&eacute;an n&deg;3, p17-19.</li>
  <li>RENE P., 2004, Les glaciers des Pyr&eacute;n&eacute;es fran&ccedil;aises, Editions Lacour, 55p. + 26 illustrations.</li>
  <li>RENE P., 2006, Variations r&eacute;centes des glaciers pyr&eacute;n&eacute;ens : l&#8217;exemple de l&#8217;Ossoue, R&eacute;union de la Soci&eacute;t&eacute; Hydrotechnique de France section Glaciologie - Nivologie, 2p.</li>
  <li>RENE P., 2006, Glaciologie en Patagonie, article tr&egrave;s succinct, 2p.</li>
  <li>RENE P., 2007, Les glaciers du Parc National des Pyr&eacute;n&eacute;es : pr&eacute;sentation et observations, Empreintes n&deg;21, Journal du Parc National des Pyr&eacute;n&eacute;es, p3-5.</li>
  <li>RENE P., 2007, Mission radar au glacier d&#8217;Ossoue (Vignemale) : d&eacute;termination de l&#8217;&eacute;paisseur de glace, Revue Pyr&eacute;n&eacute;es n&deg;231, p229-241.</li>
  <li>RENE P., 2007, Les glaciers des Pyr&eacute;n&eacute;es fran&ccedil;ais : pr&eacute;sentation et variations r&eacute;centes, Revue Pyr&eacute;n&eacute;enne (CAF) n&deg;119, p21-25.</li>
  <li>RENE P., 2008, I ghiacciai dei Pirenei Francesi : descrizione e variazioni recenti, Terra glacialis, edizione speciale, p125-135.</li>
  <li>RENE P., 2008, Les glaciers actuels des Pyr&eacute;n&eacute;es, Actes du colloque &laquo; Pyr&eacute;n&eacute;es d&#8217;hier et d&#8217;aujourd&#8217;hui &raquo;, p163-176.</li>
  <li>RENE P., 2009, Le glacier d&#8217;Ossoue (Vignemale - Pyr&eacute;n&eacute;es), variations r&eacute;centes et perspectives, r&eacute;union de la Soci&eacute;t&eacute; Hydrotechnique section Glaciologie - Nivologie, 7p.</li>
  <li>RENE P., 2011, Glaciers pyrénéens, les miroirs du climat, Pyrénées Magazine n°133, p28-34.</li>
  <li>RENE P., 2011, Les glaciers des Pyrénées face au réchauffement du climat, Mountainwilderness n°89, p9.</li>
  <li>CAZENAVE G., RENE P., 2012, Trente ans de mesures du glacier d’Ossoue, Revue Pyrénées n°250, p23-35.</li>
  <li>RENE P., 2012, Régression des glaciers pyrénéens et transformation du paysage depuis le Petit Age Glaciaire, Sud-Ouest Européen n°32, p.5-19</li>
  <li>RENE P., 2013, Glaciers des Pyrénées, des outils pour sensibiliser au réchauffement climatique, Revue de l’Agence de l’Eau Adour Garonne n°123, p29.</li>
  <li>RENE P., 2013, Glaciers : un peu de répit pour 2013, Respyr n°68, p6.</li>
  <li>RENE P., 2013, Glaciers des Pyrénées - le réchauffement climatique en images, Editions Cairn, Pau, 168p.</li>
  <li>HOUET T., RENE P., 2014, Evolution récente du glacier d'Ossoue (Hautes-Pyrénées), Revue La Météorologie n°84, p4-5.</li>
  <li>RENE P., 2014, Le suivi des glaciers dans les Pyrénées françaises, Revue La Météorologie n°85, p27-34.</li>
  <li>Marti R., Gascoin S., Houet T., Laffly D., René P., 2014, Evaluation du modèle numérique d’élévation d’un petit glacier de montagne généré à partir d’images stéréoscopiques pléiades : cas du glacier d’Ossoue, Pyrénées françaises, Revue Française de Photogrammétrie et de Télédétection n°208, p57-62.</li>
  <li>Marti R., Gascoin S., Houet T., Ribière O., Laffly D., Condom T., Monnier S., Schmutz M., Camerlynck C. Tihay J-P., Soubeyroux J-M. and René P., 2015, Evolution of Ossoue Glacier (French Pyrenees) since the end of the Little Ice Age, The Cryosphere, p1773-1795,+ Supplément.</li>
</ul>
