<ul class="space">
  <h3>Magazines</h3>
  <li>Montagnes Magazine, Hors s&eacute;rie &eacute;t&eacute; 2000, p19, 22 et 24.</li>
  <li>La M&eacute;t&eacute;orologie, sp&eacute;cial observation volume I, 8e s&eacute;rie &#8211; n&deg;39 &#8211; novembre 2002, p16-17.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;80, 03/04-2002, Glaciers &#8211; Chroniques d&#8217;un d&eacute;clin pr&eacute;visible, p68-73.</li>
  <li>Terre Sauvage n&deg;189, Pour quelques degr&eacute;s de plus, novembre 2003, p28-29.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;94, 07/08-2004.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;98, 03/04-2005, Les glaciers du Vignemale &#8211; Signaux d&#8217;alerte de la Terre, p42-47.</li>
  <li>Respyr n&deg;27, 2005, p42-44.</li>
  <li>h3O, La Revue des sciences &amp; de l&#8217;industrie en Aquitaine 2006, Vers un r&eacute;chauffement inexorable, p66.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;103, 01/02-2006, 2004-2005 : une ann&eacute;e noire pour les glaciers, p16.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;106, 07/08-2006, L&#8217;eau pyr&eacute;n&eacute;enne, un tr&eacute;sor menac&eacute;, p22.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;108, 11/12-2006, Le glacier d&#8217;Ossoue &#8211; Chronique d&#8217;une mort annonc&eacute;e, p54-58.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;112, 07/08-2007, Premier bilan pour le glacier d&#8217;Ossoue, p6.</li>
  <li>Pyr&eacute;n&eacute;es Magazine n&deg;125, 09/10-2009, Les glaciers t&eacute;moins du r&eacute;chauffement de la plan&egrave;te, p10.</li>
  <li>Echos Basco-Béarnais n°109, 12-2009, Massif des Pyrénées : les glaciers en voie de disparition, p6-7.</li>
  <li>L’Avenir n°2137, 01/2010, couverture + diptyque, journal d’information du Parti Socialiste de la Haute-Garonne.</li>
  <li>P’tits Bérets MAG n°9, 09-2011, Chaleur sur les glaciers, p6-7.</li>
  <li>Revue Pyrénéenne n°136, 12-2011, Les larmes du glacier d’Ossoue, p19-21.</li>
  <li>L’Ariégeois Magazine n°190, 2011, Glacier du Mont Valier, il est bien vivant, p.22-25.</li>
  <li>L’Ariégeois Magazine n°195, 2012, Glacier du Mont Valier, nouvelle expédition, p.22-39.</li>
  <li>Revue Pyrénéenne n°141, 03-2013, Las Néous, un glacier en sursis, p32-33.</li>
  <li>Respyr n°74, 2015, p6.</li>
</ul>
<br/>
<ul class="space">
  <h3>Journaux</h3>
  <li>La D&eacute;p&ecirc;che du Midi Hautes-Pyr&eacute;n&eacute;es, 07-07-01, L&#8217;extinction des glaciers para&icirc;t in&eacute;luctable dans les ann&eacute;es &agrave; venir.</li>
  <li>La D&eacute;p&ecirc;che du Midi Comminges, 29-08-01, Avec le r&eacute;chauffement, c&#8217;est la fin des glaciers.</li>
  <li>La D&eacute;p&ecirc;che du Midi Hautes-Pyr&eacute;n&eacute;es, 21-06-02, Glacier sous surveillance</li>
  <li>La D&eacute;p&ecirc;che du Midi Hautes-Pyr&eacute;n&eacute;es, 27-07-02, Des risques r&eacute;els mais limit&eacute;s.</li>
  <li>La D&eacute;p&ecirc;che du Midi Toulouse, 04-08-02, Ren&eacute; Pierre ausculte l&#8217;Ossoue.</li>
  <li>La D&eacute;p&ecirc;che du Midi Hautes-Pyr&eacute;n&eacute;es, 11-11-03, Les glaciers disparaissent.</li>
  <li>La R&eacute;publique des Pyr&eacute;n&eacute;es, 06-10-04, D&#8217;ici 2050, Les Pyr&eacute;n&eacute;es seront &agrave; nu ! Les glaciers fondent.</li>
  <li>L&#8217;Eclair des Pyr&eacute;n&eacute;es, 06-10-04, D&#8217;ici 2050, Les Pyr&eacute;n&eacute;es seront &agrave; nu ! Les glaciers fondent.</li>
  <li>La D&eacute;p&ecirc;che du Midi Hautes-Pyr&eacute;n&eacute;es, 12-03-05, Les glaciers fondent comme neige au soleil.</li>
  <li>Sud-Ouest B&eacute;arn et Soule, 16-02-06, Les glaciers en sursis.</li>
  <li>La D&eacute;p&ecirc;che du Midi Hautes-Pyr&eacute;n&eacute;es, 30-07-06, Les glaciers en voie de disparition.</li>
  <li>La D&eacute;p&ecirc;che du Midi, 14/20-08-06, Les glaciers ne se sont pas r&eacute;g&eacute;n&eacute;r&eacute;s depuis 2001.</li>
  <li>La D&eacute;p&ecirc;che du Midi, 11-10-06, Les Pyr&eacute;n&eacute;es fondent comme neige au soleil.</li>
  <li><a href="http://pirineos.com/article/articleprint/1749/-1/97/">http://pirineos.com/article/articleprint/1749/-1/97/</a>, El glaciar del Vignemale puede desparecer en el 2050.</li>
  <li>La D&eacute;p&ecirc;che du Midi, 28-10-07, Il mesure la fonte des glaciers.</li>
  <li>Sud-Ouest B&eacute;arn et Soule, 29-10-07, Nos glaciers ont trop chaud.</li>
  <li>Midi-Pyrénées Info, mai/juin 2008, Les glaciers pyr&eacute;n&eacute;ens en danger.</li>
  <li>La D&eacute;p&ecirc;che du Midi, 18-03-09, La grande fonte des glaciers. Les glaciers pyr&eacute;n&eacute;ens vont dispara&icirc;tre.</li>
  <li>20 Minutes, 19-03-09, CLIMAT Le r&eacute;chauffement produit ses premiers effets concrets. La R&eacute;gion &agrave; fond avec ses glaciers. Edition de Toulouse. Edition de Toulouse.</li>
  <li>La Croix, 20-03-09, CLIMAT Les glaciers disparaissent dans les Pyr&eacute;n&eacute;es.</li>
  <li>Sud-Ouest, 02-12-09, Dans les Pyr&eacute;n&eacute;es, le recul des glaciers les conduit &agrave; l&#8217;extinction.</li>
  <li>20 Minutes, 07-12-09, COPENHAGUE Coup de chaud surles Pyr&eacute;n&eacute;es. Edition de Toulouse.</li>
  <li>La D&eacute;p&ecirc;che du Midi, 07-12-09, Les glaciers ont diminu&eacute; de 85%.</li>
  <li>La Nouvelle République des Pyrénées, 12-07-10, Moraine mesure la fonte des glaciers.</li>
  <li>La dépêche du midi, 13-07-10, La fonte des glaciers sous surveillance.</li>
  <li>L’Indépendant, 05-01-11, Pyrénées réchauffement climatique, feu les glaciers.</li>
  <li>Sud-Ouest, 20-02-11, Pyrénées : une douzaine de glaciers disparu en dix ans.</li>
  <li>La République des Pyrénées, 03-03-11, Les glaciers du massif menacées de disparition d’ici 2050.</li>
  <li>AFP, 04-10-11, Les photos parlent : les glaciers des Pyrénées fondent à vue d’oeil. (G. Clavel)</li>
  <li>La Dépêche du Midi, 13-05-12, Au chevet du glacier du Mont Valier.</li>
  <li>La Vanguardia, 04/10/12, El Vignemale, como sintoma.</li>
  <li>La République des Pyrénées, 19-12-12, Béarn 2030 – Des montagnes sans glaciers.</li>
  <li>La République des Pyrénées, 05-07-13, Pyrénées : SOS glaciers en danger.</li>
  <li>La Gazette du Comminges, 10-07-13, Pyrénées, l’état de glace.</li>
  <li>La Dépêche du Midi, 28-10-13, Le glacier d’Arcouzan a grandi avec l’hiver.</li>
  <li>La Dépêche du Midi, 11-01-14, Le recul des glaciers pyrénéens en images.</li>
  <li>La Gazette du Comminges, 08-01-14, Pierre René – l’arpenteur de glaciers.</li>
  <li>La Dépêche du Midi, 22-11-14, Un glaciologue au collège.</li>
  <li>La Dépêche du Midi, 22-08-15, Dans les Pyrénées, la fonte des glaciers s’accélère.</li>
  <li>Libération, 30-10-15, Le glacier d’Ossoue fond, fini le ski.</li>
  <li>Sud-Ouest, 24-11-15, Pyrénées, les glaciers fondent à vue d’œil.</li>
</ul>
<br/>
<ul class="space">
  <h3>Télévision</h3>
  <li>France 3 Sud, 06-2003, Carottages au glacier d&#8217;Ossoue, 2&#8217;30.</li>
  <li>France 3 Sud, 09-2004, Glacier d&#8217;Ossoue, 2&#8217;30.</li>
  <li>France 3 Sud, 09-2004, Interview en studio, 7&#8217;.</li>
  <li>France 3 Sud, 08-2005, Conf&eacute;rence + Implantation balises glacier d&#8217;Ossoue, 2&#8217;30.</li>
  <li>Film Concept Associ&eacute;s, 2005, Sentinelles de la Nature, Collection Ushuaia TV, 52&#8217; (dont 8&#8217; sur les glaciers pyr&eacute;n&eacute;ens).</li>
  <li>France 2, 08-2008, Glaciers des Oulettes et du Petit Vignemale, T&eacute;l&eacute;matin, 3&#8217;.</li>
  <li>France 5, 09-2008, Glaciers des Oulettes et du Petit Vignemale, C dans l&#8217;air, 4&#8217;30.</li>
  <li>France 3 Sud, 19-09-2009, La sentinelle des glaciers, Emission Passages n&deg;152, 13&#8217;.</li>
  <li>France 3 Sud, 07-12-2009, Interview &agrave; domicile, Journal 19/20, 2&#8217;.</li>
  <li>LCI, 08-12-2009, Interview &agrave; domicile, Journal de 7h, 1&#8217;30.</li>
  <li>France 3 Sud, 10-07-2010, Implantation d’une balise au glacier d’Ossoue, Journal 13h, 2’.</li>
  <li>France 2, 14-01-2011, Glaciers et réchauffement climatique, Journal 13h, 2’30.</li>
  <li>France 3 Sud, 04-10-2011, Eugène Trutat et les glaciers, Journal 13h, 2’.</li>
  <li>TF1, 03-12-2011, Les glaciers pyrénéens en voie de disparition, Journal 20h, 2’.</li>
  <li>France 3 Sud, 09-12-2011, Climat, Journal 19h, 2’.</li>
  <li>France 2, 25-09-2012, Climat, les Pyrénées sans glacier, Journal 20h, 3’30.</li>
  <li>France 3 Sud, 10-10-2012, Expédition au glacier d’Arcouzan (09), Journaux 12h et 18h, 3’.</li>
  <li>TF1, 20-10-13, Glacier d’Arcouzan, Journal 13h, 11’.</li>
  <li>EITB (Euskal Irrati Telebista), 24-09-14, El glaciar de Monte Perdido en peligro de extincion, 2’06.</li>
  <li>France 3 Sud, 27-02-2015, Quel avenir pour les stations de ski pyrénéennes ? Enquête de région, 51’.</li>
</ul>
<br/>
<ul class="space">
  <h3>Radio</h3>
  <li>Divers interviews radio : Sud Radio (du direct), Radio Présence, Radio France, Fréquence Luz, Nostalgie, Radio Montaillou, 100/100, France Inter (Carnets de campagne)</li>
</ul>
