<p class="h3 mb-0 me-md-auto nav-brand">
  <a class="nav-link" href="{{ site.baseurl }}/">
    Association Moraine
  </a>
</p>
<nav class="nav nav-masthead">
  <a class="nav-link {% if page.section == 'association' %}active{% endif %}" href="{{ site.baseurl }}/association">L'association</a>
  <a class="nav-link {% if page.section == 'glaciers' %}active{% endif %}" href="{{ site.baseurl }}/glaciers">Les glaciers des Pyrénées</a>
  <a class="nav-link {% if page.section == 'bibliographie' %}active{% endif %}" href="{{ site.baseurl }}/bibliographie">Bibliographie</a>
  <a class="nav-link {% if page.section == 'collaborateurs' %}active{% endif %}" href="{{ site.baseurl }}/collaborateurs">Collaborateurs</a>
  <a class="nav-link {% if page.section == 'contact' %}active{% endif %}" href="{{ site.baseurl }}/contact">Contact</a>
</nav>
