<ul class="space">
  <li>Agence R&eacute;gionale Pour l&#8217;Environnement (Midi-Pyr&eacute;n&eacute;es), 2002 ?, En Midi-Pyr&eacute;n&eacute;es : La r&eacute;gression des glaciers pyr&eacute;n&eacute;ens, 1 panneau 60*100cm.</li>
  <li>F&eacute;d&eacute;ration Nationale des Foyer Ruraux, 2003, Les le&ccedil;ons de choses &#8211; l&#8217;art et la science, document d&#8217;accompagnement d&#8217;une exposition.</li>
  <li>ASSOCIATION MORAINE, 2003, Le glacier d&#8217;Ossoue sous haute surveillance, 1 panneau 60*80cm.</li>
  <li>ASSOCIATION MORAINE, 2004, Les glaciers du Luchonnais, 1 panneau 60*80cm.</li>
  <li>Greenpeace, 2004 ?, L&#8217;impact du r&eacute;chauffement climatique sur les glaciers, document d&#8217;accompagnement d&#8217;une exposition.</li>
  <li>ASSOCIATION MORAINE, 2007, Les glaciers des Pyr&eacute;n&eacute;es, 1 panneau 60*80cm.</li>
  <li>ASSOCIATION MORAINE, 2007, 150 ans apr&egrave;s, le glacier de la Maladeta, 1 panneau 60*80cm.</li>
  <li>ASSOCIATION MORAINE, 2007, Le glacier du Seil de la Baque, 1 panneau 60*25cm.</li>
  <li>ONERC, 2007, Le r&eacute;chauffement climatique : la montagne, 1 panneau qui contient des illustrations du glacier d&#8217;Ossoue.</li>
  <li>Agence Régionale Pour l’Environnement (Midi-Pyrénées), 2009, Le climat, données techniques et témoignage.</li>
  <li>ASSOCIATION MORAINE, 2012, Glacier des Pyrénées, le réchauffement climatique en photos, exposition photos composée de 20 diptyques + commentaires.</li>
  <li>ASSOCIATION MORAINE, 2014, Le suivi du glacier d'Ossoue (Vignemale), 1 panneau 120*80cm.</li>
  <li>GEODE, CESBIO, ASSOCIATION MORAINE, 2015, Les glaciers des Pyrénées en 1850 et 2011 : un inventaire transfrontalier, 1 panneau 40*80cm.</li>
</ul>
