@media (min-width: $screen-sm) {
  .banner {
    position: absolute;
    z-index: 2;
    width: 100%;
    .affix {
      background-color: rgba(32,132,251,1);
      width: 100%;
      .navbar-inner {
        margin-top: 0;
      }
    }
  }
}

.navbar-nav > li {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  &.active {
    background: rgba(255,255,255,0.2);
  }
  & > a {
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.jumbotron {
  background-image: url("../images/aneto_panorama.jpg");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
    color: white;
  }
  .gradient {
    background-color: rgba(32,132,251,0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 0;
  }
}
