.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  border: 0;
  top: 0;
}
@media (max-width: $screen-sm) {
  .navbar {
    background-color: $brand-primary;
  }
}
@media (min-width: $screen-sm) {
  .navbar {
    position: absolute;
  }
  .navbar-nav > li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    & > a {
      padding-top: 3px;
      padding-bottom: 3px;
      border-radius: 3px;
    }
  }
}

section {
  padding: 0 0 50px 0;
}
section:nth-child(even) {
  background-color: #f5f5f5;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

@media (max-width: $screen-sm) {
  .jumbotron {
    margin-top: $navbar-height;
  }
}
.jumbotron {
  padding-bottom: 0;
  margin-bottom: 0;
  background-image: url("../images/aneto_panorama.jpg");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
    color: white;
  }
  .gradient {
    background-color: rgba(32,132,251,0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 0;
  }
}

@media screen and (min-width: $screen-sm) {
  .jumbotron {
    padding-top: 60px;
  }
}

.fa-2 {
  font-size: 3em;
  padding: 10px;
  font-weight: 100;
}
.fa-color {
  color: lighten($brand-primary, 20%);
}
