<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>Moraine</h1>
            <h2>
            Association Moraine pour l'étude des glaciers des Pyrénées.
            </h2>
            <p>
            Suivi de l'évolution, campagnes de mesure de surface et de profondeur conférences diaporamas sorties thématiques.
            </p>
          </div>
        </div>
      </div>
      <div class="gradient"></div>
    </div>

    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}

  </body>

</html>
